<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
        <h2 class="text-center mt-5">Bem vindo, <%= user.name %> <%= user.surname %></h2>

        <p class="text-center mt-5">Use os botões abaixo para navegar pelo site.</p>

        <div class="d-flex justify-content-center"><button class="btn btn-primary"><a href="/contact" class="text-reset text-decoration-none">Criar um novo contato</a></button></div>
        
        <%- include('includes/messages') %>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
