<%- include('includes/head') %> <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h2 class="text-center mt-5">Registrar</h2>
          <p class="text-center">Crie sua conta.</p>

          <%- include('includes/messages') %>

            <form action="/signup" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="mb-3">
                <label class="form-label">Nome:</label>
                <input type="text" class="form-control" name="name" placeholder="digite seu nome..." />
              </div>
              <div class="mb-3">
                <label class="form-label">Sobrenome:</label>
<<<<<<< HEAD
                <input type="text" class="form-control" name="surname" placeholder="digite seu sobrenome..." />
=======
                <input type="text" class="form-control" name="surname" placeholder="digite seu sobrenome.." />
>>>>>>> 28fc1ef84c664a10b298e35be9d5009b3889b686
              </div>
              <div class="mb-3">
                <label class="form-label">Email:</label>
                <input type="email" class="form-control" name="email" placeholder="digite seu melhor e-mail..." />
              </div>
              <div class="mb-3">
                <label class="form-label">Senha:</label>
                <input type="password" class="form-control" name="password" placeholder="crie sua senha..." />
              </div>

              <p class="text-center">
                Caso tenha uma conta, faça o login <a href="/login">Aqui</a>
              </p>

              <button type="submit" class="btn btn-primary">Criar conta</button>
            </form>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>